/*----------------
Theme: Name
Author: Shelah Blando
Date: mm/yy
For:Class
-----------------*/


/*-----------------
Comment Here
-----------------*/

Universal Reset * {
    margin: 0px;
    padding: 0px;
}


/*---------------------------
-Responsive Reset Typhography
----------------------------*/

body {
    font-size: 100%;
    /*sets default at 16px*/
    color: gray;
    font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2.25em;
    /* 36px */
    line-height: 100%;
    /* 36px */
    font-family: Century Gothic, "Palatino", "Century Gothic", "Palatino Linotype", serif;
    color: #24ADEA;
    /*blue*/
    letter-spacing: 2px;
}

h2 {
    font-size: 1.5em;
    /* 24px */
    line-height: 100%;
    /* 24px */
}

h3 {
    font-size: 1.125em;
    /* 18px */
    line-height: 100%;
    /* 18px */
}

h4 {
    font-size: .6em;
    /* 18px */
    line-height: 100%;
    /* 18px */
}

p {
    font-size: 1em;
    /* 16px */
    line-height: 150%;
    /* 24px */
}

ol,
ul {
    font-size: 1em;
    /* 16px */
    line-height: 150%;
    /* 24px */
}

img {
    max-width: 100%;
    height: auto;
}

ol,
ul {
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
    margin-bottom: 10px;
}

#page-wrapper {
    border: solid 1px gray;
    /*delete later*/
}

header {
    border: solid 1px gray;
    margin:10px;
    /*delete later*/
}

#main_nav {
    border: solid 1px red;
    margin:10px;
    /*delete later*/
}

#middle {
    border: solid 1px orange;
    margin:10px;
    /*delete later*/
}

#content {
    border: solid 1px gray;
    margin:10px;
    /*delete later*/
}

#cta {
    border: solid 1px red;
    margin:10px;
    /*delete later*/
}

.cta {
    border: solid 2px black;
    margin:10px;
    /*delete later*/
}


/*---------------------------
-Drop Down Menu
----------------------------*/

.menu {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
}

.menu ul {
    background: #333333;
    height: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
    padding: 0px;
}

.menu li a {
    background: #333333 url("images/seperator.gif") bottom right no-repeat;
    color: #cccccc;
    display: block;
    font-weight: normal;
    line-height: 35px;
    margin: 0px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover,
.menu ul li:hover a {
    background: #2580a2 url("images/hover.gif") bottom center no-repeat;
    color: #FFFFFF;
    text-decoration: none;
}

.menu li ul {
    background: #333333;
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 225px;
    z-index: 200;
    /*top:1em;
		/*left:0;*/
}

.menu li:hover ul {
    display: block;
}

.menu li li {
    background: url('images/sub_sep.gif') bottom left no-repeat;
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 225px;
}

.menu li:hover li a {
    background: none;
}

.menu li ul a {
    display: block;
    height: 35px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;
}

.menu li ul a:hover,
.menu li ul li:hover a {
    background: #2580a2 url('images/hover_sub.gif') center left no-repeat;
    border: 0px;
    color: #ffffff;
    text-decoration: none;
}

.menu p {
    clear: left;
}
